<!--
  Generated template for the TicTacToe page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tic Tac Toe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <board></board>

</ion-content>
