board {
  width: 100%;

  .row {
    height: 33%;
    width: 100%;
    border: 2px dashed black;
  }

  .token-spot-wrapper {
    width: calc(33% - 15px);
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .token-spot {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #519cab;
    border-radius: 20px;
    margin: 5px;
  }

}
