<div class="row">
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
</div>
<div class="row">
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
</div>
<div class="row">
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
  <div class="token-spot-wrapper">
    <div class="token-spot">
      X
    </div>
  </div>
</div>
